src/n8n/visa_docs_ai_workflow.json
{
  "name": "Vize Evrak AI Üretici",
  "active": false,
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-visa-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "visa-docs-ai-webhook"
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.1, response_format: { type: 'json_object' }, messages: [{ role: 'system', content: 'Sen, Türkiye\\'deki en prestijli vize danışmanlık acentelerinin altyapısını yöneten, 2026 yılı güncel konsolosluk prosedürlerine, vize kanunlarına ve evrak gereksinimlerine eksiksiz hakim bir Kıdemli Vize Danışmanlık Robotusun.\\n\\nKATI VE DEĞİŞTİRİLEMEZ KURALLAR:\\n\\n1. OCR VE PASAPORT PARÇALAMA KURALI: Pasaport belgelerini asla tek maddede birleştirme. Mutlaka iki ayrı madde üret:\\n- Pasaport Fotokopisi: delivery_type digital. Açıklama: Sistem tarafından otomatik taranabilmesi (OCR) için pasaportun resimli ana sayfasının net, parlamayan ve yüksek çözünürlüklü fotoğrafı veya PDF\\'i yüklenmelidir.\\n- Pasaport Aslı: delivery_type physical. Açıklama: Seyahat bitişinden itibaren en az 6 ay geçerli, son 10 yılda alınmış ve en az 2 sayfası boş olan pasaportun aslı ofisimize kargo ile ulaştırılmalıdır.\\n\\n2. ÜLKE İSTİSNALARI:\\n- Almanya Eğitim vizesinde: Sponsor dilekçesi EKLEME, yerine Bloke Hesap (Sperrkonto) Onay Belgesi ekle.\\n- ABD vizesinde: Otel veya uçak rezervasyonu EKLEME.\\n- Japonya vizesinde: Seyahat sağlık sigortası EKLEME.\\n- Schengen dışı ülkelerde Schengen sigortası ifadesi kullanma.\\n\\n3. MESLEKİ EVRAKLAR:\\n- Öğrenci: Güncel Öğrenci Belgesi, Not Dökümü, Okul Kabul Mektubu.\\n- İşveren/Serbest Meslek: Vergi Levhası, İmza Sirküleri, Ticaret Sicil Gazetesi, Faaliyet Belgesi.\\n- Çalışan: SGK İşe Giriş Bildirgesi, SGK Hizmet Dökümü, Son 3 Aylık Maaş Bordrosu.\\n\\n4. delivery_type KURALI: Sadece digital, physical veya firma değerlerini kullan.\\n\\n5. EK NOTLAR: Kira geliri, burs, tapu gibi notlar varsa ilgili evrakları ekle.\\n\\nSADECE şu JSON formatında yanıt ver, başka hiçbir şey yazma:\\n{\"evraklar\": [{\"doc_name\": \"string\", \"delivery_type\": \"digital|physical|firma\", \"description\": \"string\"}]}' }, { role: 'user', content: 'Ülke: ' + $json.body.country + '\\nVize Türü: ' + $json.body.visa_type + '\\nMeslek: ' + $json.body.occupation + '\\nEk Notlar: ' + ($json.body.notes || '') }] }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "JSON Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.choices[0].message.content);\nconst evraklar = response.evraklar;\nconst applicationId = $('Webhook').first().json.body.application_id;\n\nreturn evraklar.map(evrak => ({\n  json: {\n    application_id: applicationId,\n    doc_name: evrak.doc_name,\n    delivery_type: evrak.delivery_type,\n    description: evrak.description,\n    status: 'pending'\n  }\n}));"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Supabase DELETE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 220],
      "parameters": {
        "method": "DELETE",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_submitted_docs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "application_id",
              "value": "=eq.{{ $('Webhook').first().json.body.application_id }}"
            }
          ]
        },
        "options": {}
      },
      "executeOnce": true
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Supabase INSERT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 380],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/user_submitted_docs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ application_id: $json.application_id, doc_name: $json.doc_name, delivery_type: $json.delivery_type, description: $json.description, status: $json.status }) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, count: $input.all().length, application_id: $('Webhook').first().json.body.application_id }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI API": {
      "main": [
        [
          {
            "node": "JSON Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parse": {
      "main": [
        [
          {
            "node": "Supabase DELETE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase DELETE": {
      "main": [[]]
    },
    "Supabase INSERT": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "n8nVersion": "1.0.0"
  },
  "staticData": null,
  "tags": ["vize", "ai", "openai"]
}
