src/supabase/randevu_hatirlatici.json
{
  "name": "Randevu Hatırlatıcı",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Her Gün 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Yarın (bugün+1) ve 3 gün sonrasının (bugün+3) tarihlerini hesapla\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst addDays = (d, n) => {\n  const r = new Date(d);\n  r.setDate(r.getDate() + n);\n  return r;\n};\n\nconst fmt = (d) => d.toISOString().split('T')[0];\n\nconst tomorrow     = addDays(today, 1);\nconst afterTomorrow = addDays(today, 2);\nconst threeDays    = addDays(today, 3);\nconst afterThree   = addDays(today, 4);\n\n// Supabase'den randevuları çek: yarın veya 3 gün sonra olanlar\n// PostgREST or() filtresi: iki ayrı gün aralığı\nconst baseUrl = 'https://yhmcpfxakmxryqnwpiaa.supabase.co/rest/v1/applications';\nconst select  = 'select=id,appointment_date,country,visa_type,clients(id,full_name,phone)';\nconst filter  = `or=(and(appointment_date.gte.${fmt(tomorrow)}T00:00:00,appointment_date.lt.${fmt(afterTomorrow)}T00:00:00),and(appointment_date.gte.${fmt(threeDays)}T00:00:00,appointment_date.lt.${fmt(afterThree)}T00:00:00))`;\nconst statusF = 'status=neq.approved&status=neq.rejected';\n\nconst url = `${baseUrl}?${select}&${filter}&${statusF}`;\n\nconst response = await $http.request({\n  method: 'GET',\n  url: url,\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_ROLE_KEY,\n    'Authorization': `Bearer ${$env.SUPABASE_SERVICE_ROLE_KEY}`,\n    'Accept': 'application/json'\n  }\n});\n\nconst appointments = Array.isArray(response) ? response : [];\n\nif (appointments.length === 0) return [];\n\n// Her randevu için mesaj payload'ı döndür\nreturn appointments\n  .filter(app => app.clients?.phone)\n  .map(app => {\n    const aptDate = new Date(app.appointment_date);\n    const dateStr = aptDate.toLocaleDateString('tr-TR', {\n      day: 'numeric',\n      month: 'long',\n      year: 'numeric',\n      hour: '2-digit',\n      minute: '2-digit',\n      timeZone: 'Europe/Istanbul'\n    });\n    return {\n      json: {\n        phone: app.clients.phone,\n        clientName: app.clients.full_name,\n        appointmentDate: dateStr,\n        country: app.country,\n        visaType: app.visa_type,\n        applicationId: app.id\n      }\n    };\n  });"
      },
      "id": "a2222222-2222-2222-2222-222222222222",
      "name": "Randevuları Çek ve Hazırla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a3333333-3333-3333-3333-333333333333",
      "name": "Randevuları Döngüle",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\n\nconst phone = item.phone;\nconst clientName = item.clientName || 'Müşteri';\nconst appointmentDate = item.appointmentDate;\nconst country = item.country || '';\nconst visaType = item.visaType || '';\n\nconst message = `Efendim, ${appointmentDate} tarihinde ${country} konsolosluk randevunuz bulunmaktadır. Tüm evraklarınızı yanınızda bulundurunuz.`;\n\nreturn [\n  {\n    json: {\n      to: `whatsapp:${phone}`,\n      from: 'whatsapp:+14155238886',\n      body: message,\n      clientName: clientName,\n      applicationId: item.applicationId\n    }\n  }\n];"
      },
      "id": "a4444444-4444-4444-4444-444444444444",
      "name": "WhatsApp Mesajını Hazırla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{ Buffer.from($env.TWILIO_ACCOUNT_SID + ':' + $env.TWILIO_AUTH_TOKEN).toString('base64') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $json.from }}"
            },
            {
              "name": "To",
              "value": "={{ $json.to }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a5555555-5555-5555-5555-555555555555",
      "name": "WhatsApp Gönder (Twilio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Her Gün 09:00": {
      "main": [
        [
          {
            "node": "Randevuları Çek ve Hazırla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randevuları Çek ve Hazırla": {
      "main": [
        [
          {
            "node": "Randevuları Döngüle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Randevuları Döngüle": {
      "main": [
        [
          {
            "node": "WhatsApp Mesajını Hazırla",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "WhatsApp Mesajını Hazırla": {
      "main": [
        [
          {
            "node": "WhatsApp Gönder (Twilio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Gönder (Twilio)": {
      "main": [
        [
          {
            "node": "Randevuları Döngüle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "randevu-hatirlatici-v1-0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "visaflow-randevu"
  },
  "id": "randevu-hatirlatici-001",
  "tags": [
    {
      "id": "tag-visaflow",
      "name": "visaflow"
    }
  ],
  "_readme": {
    "description": "Randevu hatırlatıcı workflow. Her gün 09:00'da çalışır. Yarın (bugün+1) ve 3 gün sonrası (bugün+3) randevusu olan müşterilere WhatsApp mesajı gönderir.",
    "env_vars_required": [
      "SUPABASE_SERVICE_ROLE_KEY — Supabase service role key (RLS bypass için)",
      "TWILIO_ACCOUNT_SID — Twilio hesap SID",
      "TWILIO_AUTH_TOKEN — Twilio auth token"
    ],
    "supabase_url": "https://yhmcpfxakmxryqnwpiaa.supabase.co",
    "twilio_whatsapp_from": "whatsapp:+14155238886",
    "note": "applications tablosundaki appointment_date sütunu timestamp with timezone (timestamptz) olmalıdır."
  }
}
